---
layout: default
title: Gallery
---

.page-header
  %h1 
    Gallery
    %small Sites using Awestruct.

.gallery
  .gallery-entry.row
    .span5
      %h2
        %a{:href=>'http://torquebox.org/'} TorqueBox
  
      .description
        :markdown
          In addition to the [`Posts` extension](/extensions/posts/), the TorqueBox site
          includes a custom extension to retrieve file sizes for the generated 
          [downloads page](http://torquebox.org/download/).

          It additionally uses the [skins](/skins/) functionality to
          share a look and feel with the SteamCannon site below.
    
          [Site source](http://github.com/torquebox/torquebox.org/)
          [Skin source](http://github.com/projectodd/site-skin/)
    .span3
      .image
        %a{:href=>'http://torquebox.org/'}
          %img{:src=>'/images/gallery/torquebox.png'}
  .gallery-entry.row
    .span5
      %h2
        %a{:href=>'http://arquillian.org/'} Arquillian
    
      .description
        :markdown
          Arquillian has an modern, HTML5-based website baked with Awestruct. The site uses more than a dozen Awestruct extensions, many custom made. It introduces a release extension, which builds on the [`Posts` extension](/extensions/posts/) to dynamically create a post for each software release. It also has an extension that creates module and contributor pages by analyzing the project's source repositories.

          The site leverages REST APIs heavily to pull in data, some of which is collected during site baking and the rest retrieved on page load using JSON-P and jQuery plugins.

          The site's theme is built on [Bootstrap](http://twitter.github.com/bootstrap/). It's arranged on a 12-column fixed grid and has a responsive layout. The CSS classes are semantic, achieved by extending Bootstrap classes and mixing in custom styles using SASS.

          [Site source](https://github.com/arquillian/arquillian.github.com)
    .span3
      .image
        %a{:href=>'http://arquillian.org/'}
          %img{:src=>'/images/gallery/arquillian.png'}

  .gallery-entry.row
    .span5
      %h2
        %a{:href=>'http://ceylon-lang.org/'} Ceylon

      .description
        :markdown
          The Ceylon site has a nice custom look.

          [Site source](https://github.com/ceylon/ceylon-lang.org)
    .span3
      .image
        %a{:href=>'http://ceylon-lang.org/'}
          %img{:src=>'/images/gallery/ceylon.png'}

  .gallery-entry.row
    .span5
      %h2
        %a{:href=>'http://bob.mcwhirter.org/'} Bob's Blog
   
      .description
        :markdown
          In addition to the [`Posts` extension](/extensions/posts/), Bob's blog
          takes advantage of the [`Tagger`](/extensions/tagger) and [`TagCloud`](/extensions/tag_cloud)
          extensions to provide browsing of tagged blog posts.
   
          [Site source](http://github.com/bobmcwhirter/bob.mcwhirter.org/)
    .span3
      .image
        %a{:href=>'http://bob.mcwhirter.org/'}
          %img{:src=>'/images/gallery/bobmcwhirter.png'}

