@import "blueprint/reset";
@import "blueprint/typography";
@import "blueprint/interaction";
@import "blueprint/form";
@import "blueprint/utilities";
@import "blueprint/debug";
@import "blueprint/grid";

//@import "partials/base"
//@import "blueprint"
//@import "blueprint/modules/scaffolding"

@import "compass/utilities";

//+blueprint-typography("body.bp")
//+blueprint-typography(true)
//+blueprint-scaffolding("body.bp")

body.bp {
  @include blueprint-global-reset;
  @include blueprint-typography(true);
  @include blueprint-interaction;
  @include blueprint-utilities;
  @include blueprint-debug; 

  a, a:visited {
    color: #337;
  }
}

form.bp {
  @include blueprint-form; }

#container {
  @include container; }

#layout {
  img.centered {
    display: block;
    margin: auto; }
  #header, #footer {
    @include column(24);
    @include last; }
  #header {
    margin-bottom: 1em;
    border-bottom: 1px dashed black;
    #logo {
      font-size: 300%; } }
  #footer {
    margin-top: 1em;
    border-top: 1px dashed black;
    .text {
      font-size: 90%;
      margin-top: 0.5ex;
      color: #999999; } }
  #primary {
    @include push(5);
    @include prepend(2);
    @include column(13);
    @include append(5); }
  #sidebar {
    @include column(5);
    @include pull(24);
    @include last;
    background-color: #eeeeee;
    font-size: 120%;
    ul {
      @include reset-list-style;
      padding-left: 1.5em;
      font-weight: bold;
      @include no-bullets;
      li {
        margin-bottom: 1ex;
        ul {
          margin-top: 1ex;
          font-size: 90%; } }
      a {
        text-decoration: none; } }
    #latest-version {
      text-align: center;
      padding: 1ex;
      margin: 1em;
      font-weight: bold;
      font-size: 90%;
      border: 1px solid #555555; } }
  pre {
    padding: 1em;
    border: 1px solid #999999;
    overflow-x: auto;
    font-size: 90%; } }
    
#flattr_button {
    text-align: center;
    margin-bottom: 2em;
}

.gallery {
  .gallery-entry {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #999999;
    .description {
      @include column(5); }
    .image {
      img {
        width: 200px;
        border: 2px solid #999999; }
      @include column(8);
      @include last; } } }

.post {
  h1.title {}
  .byline {
    margin-bottom: 1em;
    font-size: 90%;
    .author, .date {
      display: inline; }
    .author {
      font-weight: bold; } } }

.clear {
  clear: both; }

body.bp {
  table {
    border-collapse: collapse;
    th {
      background-color: #ccc
    }
    th, td {
      
      border: 1px solid #999
    }
  }
}
