@import "bootstrap";

code {
  padding: 2px;
  background-color: #f6f6f6;
  border: none;
}

table {
  width: 100%;
  margin-bottom: 18px;
  th, td { 
    padding: 8px 20px 4px 4px; 
    border-bottom: 1px solid #eee;
    code {
      background-color: #FFF;
      border: none;
      padding: 2px;
    }
  }
  th {
    text-align: left;
  }
  td {
    font-size: 12px;
  }
}

h2 {
  margin: 16px 0 8px;
  padding-bottom: 2px;
}

.options {
  margin: 14px;
  h3 {
    font-size: 16px;
    border-bottom: 1px solid #eee;;
  }
  table {
    td { 
      font-size: 11px; 
    }
    th {
      font-size: 12px;
      border-right: 1px solid #eee;
    }
  }
}

.page-header {
  padding-bottom: 10px;
}

.navbar-inner {
  background: #012340;
}

.navbar {

  .nav > li {
    font-size: 16px;
  }

  .brand {
    font-weight: 500;
    font-size: 24px;
  }
}

.hero-unit {
  h2 {
    color: #012340;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
  padding: 35px;
}

.gallery {
  .gallery-entry {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
    .image {
      img {
        width: 200px;
        margin-top: 30px;
        border: 2px solid #999999; }
} } }

.post {
  h1.title {}
  .byline {
    margin-bottom: 1em;
    font-size: 90%;
    .author, .date {
      display: inline; }
    .author {
      font-weight: bold; } } 
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}


