---
layout: default
---

.post
  %h1.title
    %a{:href=>page.url}= page.title
  .byline
    .author
      = page.author
    .date
      #{page.date.strftime( '%d %B %Y' )}

  ~ content
  .comments
    = page.intense_debate_comments
